
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Poppins:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
#navbar{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: .5rem .5rem;
	box-shadow: 5px 5px 20px rgba(0,0,0,.5);
	background: black;
	
}
.navbar .navbar-brand{
	font-size: 25px;
	font-weight: 800;
	color:  #E0115F;
}
#navbarSupportedContent a{
	color: #E0115F;
	border-bottom: 2px solid transparent;
	
}
#navbarSupportedContent a:hover{
	border-bottom: 2px solid  #E0115F;
	
	
}
#navbarSupportedContent button{
	background:  #E0115F;
    border-radius: 15px;
}
section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
/*home*/

#home{
	background: url("../images/bg6.jpg");
	background-size: cover;
	background-position: center;
	flex-direction: column;
}
#home h1{
	font-size: 100px;
	color: #E0115F;
	letter-spacing: 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 0px 1px 0px #FF66CC,
				 0px 2px 0px #FF66CC,
				 0px 3px 0px #FF66CC,
				 0px 4px 0px #FF66CC,
				 0px 6px 0px #FF66CC,
				 0px 7px 0px #FF66CC;
	
}
#home p{
	font-size: 18px;
	color: #E0115F;
}
#home .input-group{
	width: 25%;
	height: 45px;
	padding: 15px 15px;
	border-radius: 50px;
	
	
}
.signin{
	background:  #E0115F!important;
	color: white !important;
	box-shadow: 2px 4px 5px rgba(0,0,0,.3);
	
}
/****About****/

#about{
	background:linear-gradient(to right,#ea1d6f,#eb466b 100%)
	
}
#about h1{
	font-weight: 800;
	font-size: 50px;
	align-items: center;
	justify-content: center;
	
}
/****products**/
#product{
	background: #e5e5e5;
	
}
#product h1{
	font-size: 50px;
	letter-spacing: 2px;
	font-weight: 700;
	
		
}
#product img{
	width: 240px;
	height: 240px;
}
.card{
	width: 250px;
	height: 300px;
	background: #e5e5e5 !important;
	border: none !important;
	box-shadow: 15px 20px 20px rgba(0,0,0,0.3),
	           inset 4px 4px 10px white;
	border-radius: 20px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	margin: 20px 60px;
}
.card:hover{
	box-shadow: inset 15px 20px 20px rgba(0,0,0,.3),
	            inset -4px -4px 10px white;
	transition: .2s;
}
/***Contact***/

#contact img{
	height: 100%;
	width: 75%;
}
.box{
	width: 80% !important;
	
	margin-top: 10px;
}
form{
	display: flex;
	flex-direction: column;
}
#contact input{
	margin: 10px 0px;
}
#contact textarea{
	margin: 10px 0px;
}
footer{
	width:	100%;
	height:	30%;
	background:	rgba(0,0,0,.8);
	margin-top: -30px;
	text-align: center;
	color: white;
	padding: 3px;



















